@mixin button {
  text-align: center;
  border: 1px solid $rose;
  border-radius: $small;
  background-color: transparent;

  &:hover {
		transform: scale(1.1);
  }

  &.is-active {
    background-color: $rose;
  }
}

@mixin icon {
  width: 10px;
  height: 10px;
}