@mixin button {
  text-align: center;
  border-radius: $small;
  background-color: transparent;
  border-style: none;

  &:hover {
		transform: scale(1.05);
  }
 
  &:active {
    outline: none;
  }
}

@mixin icon {
  width: 10px;
  height: 10px;
}