//basic scheme

$maya:      rgb(92, 200, 255);
$charcoal:  rgb(54, 70, 82);
$light-charcoal: rgb(89, 115, 136);
$rose:      rgb(255, 209, 220);
$mint:      rgb(178, 237, 197);

// useful
$light: #f1f1f1;
$lighter: #fff;
$grey: #ccc;
