.app--lift {
  min-width: 300px;
  display: grid;
  grid-template-columns: 170px auto;
  grid-template-rows: 50px auto;
  place-items: center start;
  background-color: $light-charcoal;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.04);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.04);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.04);
  padding: $medium;
  margin: $medium;
  border-radius: $small;

  &.light {
    background-color: $lighter;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.04);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.04);
  }

  @include respond-to(medium) {
    min-width: 500px;
  }
  @include respond-to(large) {
    min-width: 600px;
  }
}

.app--lift-stats {
  display: flex;
}

.app--lift-item {
  margin-right: $small;
}

.app--lift-reaction {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.app--lift-reaction-button {
  @include button;
  width: 30%;
  height: 100%;

  &.dark {
    border: 1px solid $maya;

    &.is-active {
      background-color: $maya;
    }
  }

  &.light {
    border: 1px solid $mint;

    &.is-active {
      background-color: $mint;
    }
  }
}

.app--lift-reaction-icon {
  font-size: 20px;
}
