.app--newlift {
  min-width: 300px;
  height: 100px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 10px;
}

.app--newlift-container {
  display: grid;
  place-items: center;
  height: 50px;
  width: 300px;
}

.app--newlift-form-group {
  display: flex;
  justify-content: space-between;
}

.app--newlift-button {
  @include button;
  width: 100%;
  height: 100%;
  line-height: 26px;
  font-size: 15px;
  &.is-emoji {
    font-size: 26px;
  }
}

.app--newlift-button-close {
  @include button;
  padding: 5px 10px;
  border: 0;
  font-size: 26px;

  &:hover{
    background: rgba(0, 0, 0, .1);
  }
}
