.page {

  &.dark {
    background-color: $charcoal;
    color: $light;
  }

  &.light {
    background-color: $light;
    color: $charcoal;
  }
}

.page--navigation {
  width: 100%;
  top: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
 

  &.dark {
    background-color: $charcoal;
    -webkit-box-shadow: 0px 1px 1px $light-charcoal;
    -moz-box-shadow: 0px 1px 1px $light-charcoal;
    box-shadow: 0px 1px 1px $light-charcoal;
  }

  &.light {
    background-color: $light;
    -webkit-box-shadow: 0px 2px 2px $light-grey;
    -moz-box-shadow: 0px 2px 2px $light-grey;
    box-shadow: 0px 2px 2px $light-grey;
  }
}

.page--navigation-nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  
  @include respond-to(medium) {
    width: 500px;
  }
  @include respond-to(large) {
    width: 600px;
  }
}

.page--footer {
  padding: $big;
}