.page {

  &.dark {
    background-color: $dark;
    color: $light;
  }

  &.light {
    background-color: $light;
    color: $dark;
  }
}

.page--navigation {
  width: 100%;
  top: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &.dark {
    background-color: $dark;
  }

  &.light {
    background-color: $light;
  }
}

.page--navigation-nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  
  @include respond-to(medium) {
    width: 500px;
  }
  @include respond-to(large) {
    width: 600px;
  }
}

.page--footer {
  padding: $big;
  border-top: 1px solid $light;
}